<!-- partial:index.partial.html -->
<nav class="sidebar-navigation">
	<ul id="main-nav">
		<li class="active active-button">
			<a href="/login"><i class="fa fa-sign-in"></i></a>
			<span class="tooltip">Sign In</span>
		</li>
		<li class="active-button">
			<i class="fa fa-hdd-o"></i>
			<span class="tooltip">Devices</span>
		</li>
		<li class="active-button">
			<i class="fa fa-newspaper-o"></i>
			<span class="tooltip">Contacts</span>
		</li>
		<li class="active-button">
			<i class="fa fa-print"></i>
			<span class="tooltip">Fax</span>
		</li>
		<li class="active-button">
			<i class="fa fa-sliders"></i>
			<span class="tooltip">Settings</span>
		</li>
	</ul>
</nav>
