body {
  background-color: #F5F6F8;
}

.sidebar-navigation {
  display: inline-block;
  min-height: 100vh;
  width: max-content;
  padding: 40px;
}
.sidebar-navigation ul {
  text-align: center;
  color: #b0b7d9;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.sidebar-navigation ul li {
  padding: 28px;
  cursor: pointer;
  -webkit-transition: all ease-out 120ms;
  transition: all ease-out 120ms;
  list-style: none;
}
.sidebar-navigation ul li i {
  display: block;
  font-size: 24px;
  -webkit-transition: all ease 450ms;
  transition: all ease 450ms;
}
.sidebar-navigation ul li .tooltip {
  display: inline-block;
  position: absolute;
  background-color: #313443;
  padding: 8px 15px;
  border-radius: 3px;
  margin-top: -26px;
  left: 90px;
  opacity: 0;
  visibility: hidden;
  font-size: 13px;
}
.sidebar-navigation ul li .tooltip:before {
  content: '';
  display: block;
  position: absolute;
  left: -4px;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: inherit;
}
.sidebar-navigation ul li:hover {
  background-color: #e8ebf3;
}
.sidebar-navigation ul li:hover .tooltip {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
.sidebar-navigation ul li a {text-decoration: none;}
.sidebar-navigation ul li.active i {
  color: #313443;
}